.btn {
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  min-width: 200px;
  display: inline-block;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: $main-white-color;
  background-color: $accent-main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @include desk {
    display: inline-flex;
    align-items: center;
  }
  &:hover,
  &:focus {
    color: $secondary-title-color;
    background-color: $main-white-color;
  }
}
// Follow-btn
.btn--follow {
  display: inline-flex;

  margin: 0 auto;
  align-items: center;
  height: 50px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .follow__icon-send,
  &:focus .follow__icon-send {
    fill: $secondary-title-color;
  }
  @include desk {
    margin-left: 12px;
  }
}
