.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
  &__link {
    fill: $icon-no-hover;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-no-hover;
    border-radius: 4px;
    height: 92px;
    width: calc(100% / 2 - 30px);
    margin: 15px;
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: $accent-main-color;
    }
    @include tab {
      width: calc(100% / 3 - 30px);
    }
    @include desk {
      width: calc(100% / 6 - 30px);
    }
  }
  &__item:hover &__link,
  &__item:focus &__link {
    fill: $accent-main-color;
  }
}
