.examples {
  display: flex;

  &__img {
    display: block;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__meta {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    background: rgba(47, 48, 58, 0.8);
    color: $main-white-color;
  }
}
