.features {
  // display: flex;
  // flex-wrap: wrap;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
    @include tab {
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }

    @include desk {
      width: calc(100% / 4 - 30px);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $item-bg-color;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    line-height: 1.14;
    color: $secondary-title-color;
    margin-bottom: 10px;
    @include tab {
      text-align: left;
    }
  }
}
