.footer {
  background-color: $main-bg-color;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @include less-desk {
    text-align: center;
  }
  &__logo {
    margin-bottom: 20px;
    padding: 0;
  }
  &__address {
    @include less-desk {
      margin-bottom: 60px;
    }
  }
  &__conect {
    @include less-tab {
      margin-bottom: 60px;
    }
    @include tab {
      margin-left: 165px;
    }
    @include desk {
      margin-left: 70px;
    }
  }
  &__follow {
    @include desk {
      margin-left: 93px;
    }
  }
}

.address {
  &__link {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $accent-main-color;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @include desk {
      margin-bottom: 9px;
    }
  }
  &--local {
    color: $main-white-color;
  }
  &--contact {
    color: rgba(255, 255, 255, 0.6);
  }
}

.conect {
  position: relative;
  @include tab {
    top: 12px;
  }
  &__title {
    display: block;
    text-transform: uppercase;
    color: $main-white-color;
    margin-bottom: 20px;
    line-height: 1.17;
  }
  &__link {
    fill: $main-white-color;
    background: rgba(255, 255, 255, 0.1);
  }
  &__link:hover,
  &__link:focus {
    background: $accent-main-color;
  }
}

.follow {
  position: relative;
  display: block;
  @include desk {
    top: 12px;
  }
  &__label {
    position: relative;

    @include desk {
      display: flex;
    }
  }
  &__icon-send {
    margin-left: 10px;
    fill: $main-white-color;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input {
    width: 100%;
    padding: 15px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
    @include tab {
      width: 450px;
    }
    @include desk {
      width: 358px;
    }
  }
}
