.hero {
  background-color: $main-bg-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/mobile/hero-480@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding: 118px 0;
  max-width: 1600px;
  padding: 116px 0;
  @include tab {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tab/hero-768@1x.jpg);
  }
  @include desk {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/desk/hero-1200@1x.jpg);
    padding: 200px 0;
  }
  &__title {
    margin: 0 auto 30px;
    font-weight: 900;
    line-height: 1.62;
    width: 75%;
    font-size: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white-color;
    @include tab {
      width: 50%;
    }
    @include desk {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
