
.team {
  display: flex;
  &__name {
    font-weight: 500;
    font-size: 16px;
    /* text-align: center; */
    color: $secondary-title-color;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    margin-bottom: 16px;
  }
  &__img {
    display: block;
    /* margin-bottom: 30px; */
  }
  
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: $main-white-color;
  }
  &__meta {
    padding: 30px 0;
  }
}
