.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--page-header {
  display: flex;
  align-items: center;
}
.container--footer{
  display: flex;
  // align-items: flex-start;
}