.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  @include mobile {
    width: 450px;
  }
  @include tab {
    width: 738px;
  }
  @include desk {
    width: 1200px;
  }
}
.container--mobile {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  @include mobile {
    width: 450px;
  }
  @include tab {
    display: none;
  }
}
.container--desktop {
  display: none;
  @include tab {
    padding: 0 15px;
    margin: 0 auto;
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  @include desk {
    width: 1200px;
  }
}
.container--footer {
  @include tab {
    display: flex;
  }
  @include less-desk {
    justify-content: center;
    flex-wrap: wrap;
  }
}
